* {
	box-sizing: border-box;
	outline: 0;
	margin: 0px;
	font-family: sans-serif;

}

.header-logo {
	background-color: #169a5a;
	display: flex;
	height: 100px;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.enterprise-img {
	height: 35px;
	width: 169px;
	border: 1px solid #fff;
}

.cars_page_header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
}

.vehicle_types {
	height: 25px;
	width: 90px;
	font-size: 15px;
}

.list_cars {
	display: flex;
	flex-wrap: wrap;
	background-color: #f3f3f3;
	justify-content: space-between;

}

.division {
	border: 10px solid #f3f3f3;
	background: white;
	width: 426px;
	flex-grow: 1;

}

.division:last-child,.division:nth-last-child(2){
flex-grow: 0;
}

.car_type_header,
.similar_car_names,
.pay_later_header,
.ratePerDay,
.totalRate,
.rates_included {
	display: flex;

}

.car_type_header {
	margin-top: 10px;
}

.car_type_header,
.similar_car_names,
.car_functionality {
	margin-left: 20px;
}

.similar_car_names {
	font-size: 15px;
}

.car_functionality {
	font-size: 12px;
}

.pay_later_header {
	justify-content: center;
}

.rates {
	display: flex;
	justify-content: center;
	color: #656565;
	font-size: 23px;
}

.ratePerDay,
.totalRate {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.per-day,
.total {
	font-size: 15px;
}

.verticalLine {
	border-left: 1px solid #dbdbdb;
	margin-left: 30px;
	margin-right: 30px;
}

.rule {
	width: 200px;
	height: 0;
	border: 2px solid black;
	margin-top: 6.5px;
	margin-left: 10px;
}

.rates_included {
	color: #169a5a;
	font-size: 14px;
	display: flex;
}

.to_select {
	display: flex;
	justify-content: center;
}

.selectBox {
	display: flex;
	background: #169a5a;
	width: 70%;
	margin: 10px;
	justify-content: center;
	padding: 10px;
	border: 0px;
	color: white;
	font-weight: bold;
	font-size: 13px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.page3{
	display: none;
}
